body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.image-section {
  flex: 1;
  position: relative;
  transition: all 0.3s ease;
  background-size: cover;
  background-position: center;
}

#image1 {
  background-image: url('Ilustração_Sem_Título (2) 3.png');
}

#image2 {
  background-image: url('image2.jpg');
}

#image3 {
  background-image: url('image3.jpg');
}

#image4 {
  background-image: url('image4.jpg');
}

.image-section:hover {
  flex-grow: 2;
  z-index: 1;
}

.image-section:not(:hover) {
  filter: brightness(50%);
}
